{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="flex justify-center mt-10">
    <div class="w-full max-w-lg bg-white p-6 rounded-lg shadow-md">
      <h1 class="text-xl font-semibold mb-4 text-center">Transfer Money</h1>

      <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
          <div class="text-red-600 mb-3">
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}

        <div class="mb-3">
          {{ form.to_account.label_tag }}
          {{ form.to_account }}
          {% if form.to_account.errors %}
            <div class="text-red-600">
              {% for error in form.to_account.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="mb-3">
          {{ form.transfer_amount.label_tag }}
          {{ form.transfer_amount }}
          {% if form.transfer_amount.errors %}
            <div class="text-red-600">
              {% for error in form.transfer_amount.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="flex justify-center mt-4">
          <button class="bg-green-600 text-white hover:bg-green-700 hover:text-white border border-green-600 font-bold px-4 py-2 rounded-lg" type="submit">Transfer</button>
        </div>

        <div class="pt-4 text-center">
          <a class="font-bold text-blue-600 hover:text-blue-800 no-underline" href="{% url 'transfer_list' %}">View All Transfers</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
