{% extends 'base.html' %}
{% block head_title %}
  {{ title }}
{% endblock %}
{% block content %}
  <div class="w-full flex mt-5 mb-8 justify-center">
    <div class="bg-white w-5/12 rounded-lg shadow-lg">
      <h1 class="font-bold text-3xl text-center pb-5 pt-10 px-5">{{ title }}</h1>
      <form method="post" class="px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">Amount</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline" name="amount" id="amount" type="number" required placeholder="Amount" />
        </div>

        {% if form.amount.errors %}
          {% for error in form.amount.errors %}
            <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
          {% endfor %}
        {% endif %}

        <div class="flex w-full justify-center">
          <button class="bg-green-600 text-white hover:bg-green-700 hover:text-white border border-green-600 font-bold px-4 py-2 rounded-lg" type="submit">Submit</button>
        </div>

        {% if title == 'Request For Loan' %}
          <div class="pt-4 text-center">
            <a class="font-bold text-blue-600 hover:text-blue-800 pb-5 pt-4 inline-block no-underline" href="{% url 'loan_list' %}">View All Loan List</a>
          </div>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
