{% extends 'base.html' %}
{% load static %}

{% block head_title %}Banking System{% endblock %}

{% block content %}
<div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">
    
    <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6 bg-white rounded-2xl bg-opacity-70 mx-3">
        <h1 class="font-bold text-4xl my-4">Welcome to Byte Bank</h1>
        <p class="leading-normal mb-4">
           Empowering you to manage your finances with ease and security.
Seamlessly deposit, withdraw, and access loan services all in one platform.
Experience reliable banking solutions designed for your convenience and growth.
Your financial goals are our top priority
        </p>

        <div class="flex justify-end w-full">
            <a href="{% url 'register' %}"
               class="bg-gradient-to-r from-blue-900 to-blue-700 text-white font-semibold 
                      px-6 py-3 rounded-lg transform transition duration-300 ease-in-out
                      hover:scale-105 hover:from-blue-700 hover:to-blue-900
                      shadow-md hover:shadow-xl no-underline
                      border-2 border-blue-900 hover:border-blue-700">
               Register Now →
            </a>
        </div>
    </div>

    <div class="w-full lg:w-1/2 lg:py-6 text-center">
        <img class="rounded-2xl" src="{% static 'img/bank_new.jpg' %}" />
    </div>
</div>
{% endblock %}
